<main class="main">
  <div class="inner">
    <h2>Edit Prototype</h2>

    <%= render 'form', prototype: @prototype %>

    <%= link_to 'Back', prototype_path(@prototype), class: 'button' %>
  </div>
</main>